<!DOCTYPE html>
<html lang="en">
    <head th:replace="admin/_fragments :: head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Tag</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
        <link rel="stylesheet" href="../../static/css/me.css">
        
  />
    </head>
    <body>
        <!--navigation-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal header item">Tag management</h2>
                    <a href="#" th:href="@{/admin/manage}" class="m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
                    <a href="#" th:href="@{/admin/category}" class="m-item item m-mobile-hide"><i class="idea icon"></i>Category</a>
                    <a href="#" th:href="@{/admin/tag}" class="active m-item item m-mobile-hide"><i class="tags icon"></i>Tag</a>
                    <div class="right m-item m-mobile-hide menu">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img src="../../static/images/photo.jpg" alt="" class="ui avatar image" th:src="@{${session.user.avatar}}">
                                <span th:text="${session.user.nickname}">Siyuan</span>
                            </div>
                            <i class="dropdown icon"></i>   
                            <div class="menu">
                                <a href="#" th:href="@{/admin/logout}"  class="item">log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="#" th:href="@{/admin/tag/input}" class="active item">Add</a>
                    <a href="#" th:href="@{/admin/tag}" class="teal item">List</a>
                </div>
                
            </div>

        </div>

        <!--content-->
        <div class="m-container-small m-padded-tb-big">
            <div class="ui container">
                <form action="#" method="POST"
                      th:object="${tag}" th:action="*{id}==null ? @{/admin/tag} : @{/admin/tag/{id}(id=*{id})}" class="ui form">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class=" required field">
                        <dvi class="ui left labeled input">
                            <label class="ui teal basic label">tag</label>
                            <input type="text" name="name" placeholder="tag" th:value="*{name}">
                        </dvi>
                    </div>

                    <div class="ui error message"></div>
                    <!----thymeleaf can parse it------>

                    <!--/*/
                    <div class="ui negative large message" th:if="${#fields.hasErrors('name')}">
                        <i class="close icon"></i>
                        <p th:errors="*{name}"></p>
                    </div>
                    /*/-->
                    <div class="ui right aligned container">
                        <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
                        <button class="ui teal submit button">submit</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <!--footer-->
        <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <div class="ui inverted divided  stackable grid">
                    <div class="two wide column">
                        <img src="../../static/images/linkedin.png" th:src="@{/images/linkedin.png}" class="ui centered rounded image" alt="" style="width: 120px;">
                    </div>
                    <div class="two wide column">
                        <img src="../../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui centered rounded image" alt="" style="width: 120px;">
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">The latest Blog</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">1</a>
                            <a href="#" class="item">2</a>
                            <a href="#" class="item">3</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Contact me</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Email: ysyfisher@gmail.com</a>
                            <a href="#" class="item">Phone: 6137006705</a>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Siyuan Yu</h4>
                        <p class="m-text-thin m-text-spaced m-opacity-mini">Hard working and self-motivated computer programmer graduate seeking entry level developer position.</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 Siyuan Yu Designed by Siyuan Yu</p>
            </div>

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="../../static/lib/editormd/editormd.min.js"></script>
        <script src="../../static/lib/editormd/languages/en.js"></script>

        <script>
            $('#newBlog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
        </script>

        <script>
            $('.menu.toggle').click(function() {
                $('.m-item').toggleClass('m-mobile-hide');
            });
            $('.ui.dropdown').dropdown({
                on : 'hover'
            });

            $('.ui.form').form({
                fields: {
                    title: {
                        identifier: 'name',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a tag name'
                        }]
                    }
                }
            });

        </script>
    </body>
</html>