<!DOCTYPE html>
<html lang="en">
    <head th:replace="admin/_fragments :: head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Edit</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
        <link rel="stylesheet" href="../../static/css/me.css">
        
  />
    </head>
    <body>
        <!--navigation-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal header item">Blog management</h2>
                    <a href="#" th:href="@{/admin/manage}" class="active m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
                    <a href="#" th:href="@{/admin/category}" class="m-item item m-mobile-hide"><i class="idea icon"></i>Category</a>
                    <a href="#" th:href="@{/admin/tag}" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tag</a>
                    <div class="right m-item m-mobile-hide menu">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img src="../../static/images/photo.jpg" alt="" class="ui avatar image" th:src="@{${session.user.avatar}}">
                                <span th:text="${session.user.nickname}">Siyuan</span>
                            </div>
                            <i class="dropdown icon"></i>   
                            <div class="menu">
                                <a href="#" class="item">log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="#" th:href="@{/admin/manage/publish}" class="teal active item">Publish</a>
                    <a href="#" th:href="@{/admin/manage}" class="item">List</a>
                </div>
                
            </div>

        </div>

        <!--content-->
        <div class="m-container m-padded-tb-big">
            <div class="ui container">
                <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/manage}" method="POST" class="ui form">
                    <input type="hidden" name="published">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="required field">
                        <div class="ui left labeled input">
                            <div class="ui selection compact teal basic dropdown label">
                                <input type="hidden" value="Original" name="flag" th:value="*{flag}">
                                <i class="dropdown icon"></i>
                                <div class="text">Original</div>
                                <div class="menu">
                                    <div class="item" data-value="Original">Original</div>
                                    <div class="item" data-value="Translation">Translation</div>
                                    <div class="item" data-value="Reproduced ">Reproduced</div>
                                </div>
                            </div>
                            <input type="text" name="title" placeholder="Title" th:value="*{title}">
                        </div>                      
                    </div>
                    <div class="required field">
                        <div id="md-content" style="z-index: 1 !important;">
                            <textarea placeholder="Blog content" name="content" style="display: none;" th:text="*{content}"></textarea>
                        </div>
                        
                    </div>

                    <div class="two fields">
                        <div class="required field">
                            <div class="ui left labeled action input">
                                <label class="ui compact teal basic label">Category</label>
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="category.id" th:value="*{category.id}">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Category</div>
                                    <div class="menu">
                                        <div th:each="category : ${category}" class="item" data-value="1" th:data-value="${category.id}" th:text="${category.name}">category1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left labeled action input">
                                <label class="ui compact teal basic label">Tag</label>
                                <div class="ui fluid selection multiple search dropdown">
                                    <input type="hidden" name="tagIds" th:value="*{tagIds}">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Tag</div>
                                    <div class="menu">
                                        <div th:each="tag : ${tag}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="required field">
                        <dvi class="ui left labeled input">
                            <label class="ui teal basic label">Picture</label>
                            <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="PictureUrl">
                        </dvi>
                    </div>

                    <div class="inline fields">
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="recommend" name="recommend" checked th:checked="*{recommend}" class="hidden">
                                <label for="recommend">recommendation</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" class="hidden">
                                <label for="shareStatement">Infomation</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden">
                                <label for="appreciation">Like</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="commentable" name="commentable" th:checked="*{commentable}" class="hidden">
                                <label for="commentable">Comment</label>
                            </div>
                        </div>
                    </div>

                    <div class="ui error message"></div>

                    <div class="ui right aligned container">
                        <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
                        <button type="button" id="save-btn" class="ui secondary button">Save</button>
                        <button type="button" id="publish-btn" class="ui teal button">Publish</button>
                    </div>
                </form>
            </div>
        </div>

        <!--footer-->
        <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <div class="ui inverted divided  stackable grid">
                    <div class="two wide column">
                        <img src="../../static/images/linkedin.png" th:src="@{/images/linkedin.png}" class="ui centered rounded image" alt="" style="width: 120px;">
                    </div>
                    <div class="two wide column">
                        <img src="../../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui centered rounded image" alt="" style="width: 120px;">
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">The latest Blog</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">1</a>
                            <a href="#" class="item">2</a>
                            <a href="#" class="item">3</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Contact me</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Email: ysyfisher@gmail.com</a>
                            <a href="#" class="item">Phone: 6137006705</a>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Siyuan Yu</h4>
                        <p class="m-text-thin m-text-spaced m-opacity-mini">Hard working and self-motivated computer programmer graduate seeking entry level developer position.</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 Siyuan Yu Designed by Siyuan Yu</p>
            </div>

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
        <script src="../../static/lib/editormd/languages/en.js" th:src="@{/lib/editormd/languages/en.js}"></script>

        <script>
            $('#newBlog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
        </script>

        <script>
            //initialize Markdown editor
            var testEditor;
            $(function() {
                testEditor = editormd("md-content", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "/lib/editormd/lib/"
                });

            });

            $('.menu.toggle').click(function() {
                $('.m-item').toggleClass('m-mobile-hide');
            });
            $('.ui.dropdown').dropdown({
                on : 'hover'
            });

            $('#save-btn').click(function (){
                $('[name="published"]').val(false);
                $('#blog-form').submit();
            });

            $('#publish-btn').click(function (){
                $('[name="published"]').val(true);
                $('#blog-form').submit();
            });

            $('.ui.form').form({
                fields: {
                    title: {
                        identifier: 'title',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a title'
                        }]
                    },
                    content: {
                        identifier: 'content',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter content'
                        }]
                    },
                    categoryId: {
                        identifier: 'categoryId',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a category'
                        }]
                    },
                    firstPicture: {
                        identifier: 'firstPicture',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a picture'
                        }]
                    }

                }
            });

        </script>
    </body>
</html>