<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog backend</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../../static/css/me.css">
    </head>
    <body>
        <!--navigation-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal header item">Blog management</h2>
                    <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
                    <a href="#" class="active m-item item m-mobile-hide"><i class="idea icon"></i>Category</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tag</a>
                    <div class="right m-item m-mobile-hide menu">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img src="../../static/images/photo.jpg" alt="" class="ui avatar image">
                                Siyuan Yu
                            </div>
                            <i class="dropdown icon"></i>   
                            <div class="menu">
                                <a href="#" class="item">log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="#" class="item">Publish</a>
                    <a href="#" class="teal active item">List</a>
                </div>
                
            </div>

        </div>

        <!--content-->
        <div class="m-container-small m-padded-tb-big">
            <div class="ui container">
                <form action="#" method="POST" class="ui segment form">
                    <div class=" inline fields">
                        <div class="field">
                            <input type="text" name="title" placeholder="topic">
                        </div>
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="type">
                                <i class="dropdown icon"></i>
                                <div class="default text">category</div>
                                <div class="menu">
                                    <div class="item" data-value="1">category1</div>
                                    <div class="item" data-value="2">category2</div>
                                    <div class="item" data-value="3">category3</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="recommend" name="recommend">
                                <label for="recommend">Recommendation</label>
                            </div>
                        </div>
                        <div class="field">
                            <button class="ui mini teal basic button"><i class="search icon"></i>Search</button>
                        </div>
                    </div>
                </form>
                <table class="ui table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Topic</th>
                            <th>Type</th>
                            <th>Recommendation</th>
                            <th>Date</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Topic1</td>
                            <td>Type1</td>
                            <td>Yes</td>
                            <td>2021-04-06 21:11</td>
                            <td>
                                <a href="#" class="ui mini teal basic button">Edit</a>
                                <a href="#" class="ui mini red basic button">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6">
                                <div class="ui pagination menu">
                                    <a class="item">Previous</a>
                                    <a class="item">Next</a>                                   
                                </div>
                                <a href="#" class="ui teal mini right floated teal basic button">Add new</a>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!--footer-->
        <footer class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <div class="ui inverted divided  stackable grid">
                    <div class="three wide column">
                        <img src="../../static/images/wechat.jpg" class="ui centered rounded image" alt="" style="width: 120px;">
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">The latest Blog</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">1</a>
                            <a href="#" class="item">2</a>
                            <a href="#" class="item">3</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Contact me</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Email: ysyfisher@gmail.com</a>
                            <a href="#" class="item">Phone: 6137006705</a>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Siyuan Yu</h4>
                        <p class="m-text-thin m-text-spaced m-opacity-mini">Hard working and self-motivated computer programmer graduate seeking entry level developer position.</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 Siyuan Yu Designed by Siyuan Yu</p>
            </div>

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <script>
            $('.menu.toggle').click(function() {
                $('.m-item').toggleClass('m-mobile-hide');
            });
            $('.ui.dropdown').dropdown();
        </script>
    </body>
</html>