<!DOCTYPE html>
<html lang="en">
    <head th:replace="_fragments :: head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css">
    </head>
    <body>
        <!--navigation-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal header item">Blog</h2>
                    <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>Main page</a>
                    <a href="category.html" class="m-item item m-mobile-hide"><i class="idea icon"></i>Category</a>
                    <a href="tag.html" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tag</a>
                    <a href="about.html" class="m-item item m-mobile-hide"><i class="info icon"></i>About me</a>
                    <div class="right m-item item m-mobile-hide">
                        <div class="ui icon inverted transparent input">
                            <input type="text" placeholder="Search....">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>

        <!--content-->
        <div class="m-container m-padded-tb-big">
            <div class="ui container">
                <div class="ui stackable grid">
                    <!--left blog list-->
                    <div class="eleven wide column">
                        <!--header-->
                        <div class="ui top attached segment">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <h3 class="ui teal header">Blog</h3>
                                </div>
                                <div class="right aligned column">
                                    Total of <h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"></h3> articles
                                </div>
                            </div>
                        </div>

                        <!--content-->
                        <div class="ui attached segment">
                            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                                <div class="ui middle aligned mobile reversed stackable grid">
                                    <div class="eleven wide column">
                                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}"> The first Blog</a></h3>
                                            <p class="m-text" th:text="*{#strings.length(blog.content) > 100} ? ${#strings.substring(blog.content,0,200)} : ${blog.content}">Hard working and self-motivated computer programmer graduate seeking entry level developer position.</p>
                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <img src="https://picsum.photos/id/237/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">Siyuan Yu</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2021-03-30</span>
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i><span th:text="${blog.views}">1234</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="five right aligned wide column">
                                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.category.name}">Label</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column">
                                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                           <img src="https://picsum.photos/id/237/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--footer-->
                        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">Previous</a>
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--right top-->
                    <div class="five wide column">
                        <!--category-->
                        <div class="ui segments">
                            <div class="ui secondary segment">
                                <div class="ui two column grid">
                                    <div class="column">
                                        <i class="idea icon"></i>Category
                                    </div>
                                    <div class="right aligned column">
                                        <a href="#" target="_blank">More <i class="angle double right icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui teal segment">
                                <div class="ui fluid vertical menu">
                                    <a href="#" class="item" th:each="category : ${category}">
                                        <span th:text="${category.name}"></span>
                                        <div class="ui teal basic left pointing label" th:text="${#arrays.length(category.blogs)}">12</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--label-->
                        <div class="ui segments m-margin-top-large">
                            <div class="ui secondary segment">
                                <div class="ui two column grid">
                                    <div class="column">
                                        <i class="tags icon"></i>Label
                                    </div>
                                    <div class="right aligned column">
                                        <a href="#" target="_blank">More <i class="angle double right icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui teal segment">
                                <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag : ${tag}">
                                    <span th:text="${tag.name}"></span>
                                    <div class="detail" th:text="${#arrays.length(tag.blogs)}">20
                                    </div>
                                </a>

                            </div>
                        </div>
                        <!--recommendation-->
                        <div class="ui segments m-margin-top-large">
                            <div class="ui secondary segment">
                                <i class="bookmark icon"></i>Recommendation
                            </div>
                            <div class="ui segment" th:each="blog : ${recommendBlogs}">
                                <a href="#" th:fref="@{blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">Recommendation1</a>
                            </div>

                        </div>
                        <!--QR code-->
                        <h4 class="ui horizontal divider header m-margin-top-large">
                            Follow me 
                        </h4>
                        <div class="ui centered card" style="width: 12em;">
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <footer class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <div class="ui inverted divided  stackable grid">
                    <div class="three wide column">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui centered rounded image" alt="" style="width: 120px;">
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">The latest Blog</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">1</a>
                            <a href="#" class="item">2</a>
                            <a href="#" class="item">3</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Contact me</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Email: ysyfisher@gmail.com</a>
                            <a href="#" class="item">Phone: 6137006705</a>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Siyuan Yu</h4>
                        <p class="m-text-thin m-text-spaced m-opacity-mini">Hard working and self-motivated computer programmer graduate seeking entry level developer position.</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 Siyuan Yu Designed by Siyuan Yu</p>
            </div>

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <script>
            $('.menu.toggle').click(function() {
                $('.m-item').toggleClass('m-mobile-hide');
            });
        </script>
    </body>
</html>